/* Written By Pratik Lokhande https://github.com/konprtk*/

*
{
    margin: 0;
    padding: 0;
    font-family: 'poppins' sans-serif;
    box-sizing: border-box;
    
}

.container
{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.calculator
{
    background-color: #3a4452;
    padding: 20px;
    border-radius: 10px;
    box-shadow: -8px -8px 15px rgba(157, 177, 158, 0.973)
}

.calculator form input
{
    border: 2px solid;
    outline: 0;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    box-shadow: -8px -8px 15px rgba(57, 39, 28, 0.2) ,-8px -8px 15px rgba(255, 255,255,0.2);
    background:transparent;
    font-size: 20px;
    color: #ffffff;
    cursor: pointer;
    margin: 10px;
}
.display
{
 display: flex;
 justify-content: flex-end;
 margin: 20px 0;   
}


.display input{
     text-align: right;
     flex: 1;
     font-size: 60px;

}

form input.equal
{
    width: 150px;
}

 form input.operator
{
    color: rgb(0, 255, 170);
}
